#Common
hr/common/classes/*
!hr/common/classes/.gitkeep
#File Data Layer
hr/dl/testcases/*.class
hr/dl/classes/*
!hr/dl/classes/.gitkeep
#SQL Data Layer
hr/dbdl/.gradle
hr/dbdl/bin/
hr/dbdl/build/
#Business Layer
hr/bl/.gradle
hr/bl/bin/
hr/bl/build/
hr/bl/testcases/*.class
#Presentation Layer
hr/pl/.gradle
hr/pl/bin/
hr/pl/build/
hr/pl/pdfs/
hr/pl/toStartApplication.txt
#following is the file in which course data is saved
hr/pl/course.data
#following is the temporary file created while editing course.data
hr/pl/course.tmp
#following is the backup of course.data
hr/pl/course_back.data
#pdfs folder is for testing purposes
hr/tmp


